html {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.non-existent-app{
    margin: 40vh auto;
}
.non-existent-app h1{
    text-align: center;
}
.non-existent-app span{
    display: block;
    width: fit-content;
    margin: 0 auto;
}
.non-existent-app a{
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}